@using ProyectoFinal.Models
@model Contenido
<div class="navbar navbar-default navbar-fixed-bottom collapse" id="Datos">
    <div class="container">
        @Html.LabelFor(x=>x.Nombre)
    </div>


</div>

