@using ProyectoFinal.Models
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div> 
        <h1 class="text-center">@ViewBag.Title</h1>
        <div id="contenido" class="row" style="margin:1%;">
            @Html.Partial("_ContentView")
        </div>
        <div>
            <ul class="pagination">
                <li class="previous">
                    <a id="prev" href="#" class="fui-arrow-left" onclick="Ajax();"></a>
                </li>
                <li class="next">
                    <a href="#" class="fui-arrow-right"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
