@using ProyectoFinal.Models
@{
    ViewBag.title = "Resultados";
}

<!DOCTYPE html>

<html>
<head>
    <title>Buscando</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div> 
        <div class="row" style="margin:1%;">
            @Html.Partial("_ContentView");
        </div>
        </div>
</body>
</html>
