.nasadvbar-brand{
    color:white;
}
.btn-logpart {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
.carac{
    font-size: 12px !important;
}
.card1 {
    background-color: #1ABC9C !important;
    height: 60px;
    width: 100%;
    text-align: center;
}
.card2 {
    background-color: #16A085 !important;
    height: 200px;
    width: 100%;
    color: #34495E !important;
    word-wrap: break-word;
}
