@using ProyectoFinal.Models
@model Contenido
@{
    ViewBag.Title = "Home de Inicio";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomedeInicio</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
        
        <div>
            <h2 class="text-center">Subidos recientemente</h2>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="tarj">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" id="lista">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
            </div>



            <div class="row" style="margin:1%;">
                @Html.Partial("_ContentView")
            </div>
        </div>
    <script>
        $(document).ready(function(){
            $('#tarj').click(function () {
                $('.objeto').removeClass('col-sm-12 col-md-12');
                $('.objeto').addClass('col-sm-3 col-md-3');
            });
            $('#lista').click(function () {
                $('.objeto').removeClass('col-sm-3 col-md-3');
                $('.objeto').addClass('col-sm-12 col-md-12');
            });
        }
    </script>
</body>
</html>
