@{
    ViewBag.Title = "Home de Inicio";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomedeInicio</title>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/Content/photo.jpg" alt="...Macri">
                        <div class="caption">
                          
                            <p><a href="#" class="btn btn-primary" role="button">Ver mas</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>
