@using ProyectoFinal.Models
@{
    ViewBag.Title = "Home de Inicio";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomedeInicio</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
        
        <div>
            <h2 class="text-center">Subidos recientemente</h2>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
            </div>
            <div class="row" style="margin:1%;">
                @Html.Partial("_ContentView")
            </div>
        </div>
</body>
</html>
