@using ProyectoFinal.Models
@model Contenido
@{
    ViewBag.Title = "Home de Inicio";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomedeInicio</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
        <div>
            <h2 class="text-center">Subidos recientemente</h2>
            <button type="button" class="btn btn-default center-block" id="tarj">Ver todo</button>
            <div class="row" style="margin:1%;">
                @Html.Partial("_Carrousel")
            </div>
        </div>
    </div>

</body>
</html>
