<html>

@using ProyectoFinal.Models
@model Usuario
@{
    ViewBag.Title = "login";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion</title>
    <link rel="stylesheet" href="~/Content/Registracion.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h1>log In</h1>

    <fieldset>
        <legend><span class="number">1</span>Your basic info</legend>


        <label for="mail">Email:</label>
        @Html.ValidationMessageFor(x => x.Email)<br />
        @Html.TextBoxFor(x => x.Email)


        <label for="password">Contraseña:</label>
        @Html.ValidationMessageFor(x => x.Contraseña)<br />
        @Html.PasswordFor(x => x.Contraseña)



    </fieldset>
        <button type="submit">Loguearse!</button>
}
</body>
</html>
