@using ProyectoFinal.Models
@model ProyectoFinal.Models.Contenido
@{
    ViewBag.Title = "Subir";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubirContenido</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Subir", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            <h2 class="form-signin-heading">Please sign up</h2>
            //<label for="inputEmail" class="sr-only">Email address</label>
            @Html.ValidationMessageFor(x => x.Nombre)<br />
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Nombre" })

            @Html.ValidationMessageFor(x => x.Ruta)<br />
            //@(x => x.Apellido, new { @class = "form-control", placeholder = "Apellido" })
            @Html.TextBox("file", "", new { type = "file", @class = "form-control" }) 
            //<input type="file" name="archivo" /> <input type="submit" value="Cargar" name="boton" />



            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        }

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
