USE [master]
GO
/****** Object:  Database [G:\ORT\PROYECTOFINAL\PFEF\PFEF\APP_DATA\DB.MDF]    Script Date: 22/6/2017 19:04:33 ******/
CREATE DATABASE [G:\ORT\PROYECTOFINAL\PFEF\PFEF\APP_DATA\DB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'G:\ORT\ProyectoFinal\PFEF\PFEF\App_Data\db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'G:\ORT\ProyectoFinal\PFEF\PFEF\App_Data\db_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [G:\ORT\PROYECTOFINAL\PFEF\PFEF\APP_DATA\DB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [G:\ORT\PROYECTOFINAL\PFEF\PFEF\APP_DATA\DB.MDF]
GO
USE [G:\ORT\PROYECTOFINAL\PFEF\PFEF\APP_DATA\DB.MDF]
GO
/****** Object:  Table [dbo].[Contenidos]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Ruta] [text] NOT NULL,
	[Profesor] [text] NOT NULL,
	[Cursada] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEscuela] [int] NULL,
	[IdMateria] [int] NULL,
	[IdNivelEducativo] [int] NULL,
	[IdTipoContenido] [int] NULL,
	[IPop] [int] NULL,
	[IDes] [int] NULL,
	[FechaSubida] [datetime] NULL,
 CONSTRAINT [PK_Contenidos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escuelas]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuelas](
	[Id] [int] NOT NULL,
	[Nombre] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id] [int] NOT NULL,
	[Nombre] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelesEducativos]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelesEducativos](
	[Id] [int] NOT NULL,
	[Nombre] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposContenidos]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposContenidos](
	[Id] [int] NOT NULL,
	[Nombre] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/6/2017 19:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NOT NULL,
	[Apellido] [nchar](100) NOT NULL,
	[Email] [nchar](100) NOT NULL,
	[Contraseña] [nchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contenidos]  WITH CHECK ADD  CONSTRAINT [FK_Contenidos_ToEscuelas] FOREIGN KEY([IdEscuela])
REFERENCES [dbo].[Escuelas] ([Id])
GO
ALTER TABLE [dbo].[Contenidos] CHECK CONSTRAINT [FK_Contenidos_ToEscuelas]
GO
ALTER TABLE [dbo].[Contenidos]  WITH CHECK ADD  CONSTRAINT [FK_Contenidos_ToMaterias] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[Contenidos] CHECK CONSTRAINT [FK_Contenidos_ToMaterias]
GO
ALTER TABLE [dbo].[Contenidos]  WITH CHECK ADD  CONSTRAINT [FK_Contenidos_ToNivelesEducativos] FOREIGN KEY([IdNivelEducativo])
REFERENCES [dbo].[NivelesEducativos] ([Id])
GO
ALTER TABLE [dbo].[Contenidos] CHECK CONSTRAINT [FK_Contenidos_ToNivelesEducativos]
GO
ALTER TABLE [dbo].[Contenidos]  WITH CHECK ADD  CONSTRAINT [FK_Contenidos_ToTiposContenidos] FOREIGN KEY([IdTipoContenido])
REFERENCES [dbo].[TiposContenidos] ([Id])
GO
ALTER TABLE [dbo].[Contenidos] CHECK CONSTRAINT [FK_Contenidos_ToTiposContenidos]
GO
ALTER TABLE [dbo].[Contenidos]  WITH CHECK ADD  CONSTRAINT [FK_Contenidos_ToUsuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Contenidos] CHECK CONSTRAINT [FK_Contenidos_ToUsuarios]
GO
USE [master]
GO
